# # CodeIgniter specific
# */cache/*
# */cache/sessions/*
# !*/cache/index.html
# !*/cache/.htaccess
# */logs/*
# !*/logs/index.html
# !*/logs/.htaccess
# user_guide_src/build/*
# cov-report/*
# docs/*

# # User uploads
# uploads/
# assets/uploads/

# # Environment settings
# application/config/development/
# .env
# .php-version
# .php-ini

# # IDE and System
# .DS_Store
# .idea/
# .vscode/
# nbproject/
# thumbs.db

# # Temporary
# _temp/

# # Dependencies
# node_modules/
# vendor/

# # System
# *.swp
# *.swo
# *~
# *.log

# # Configuration
# application/config/database.php

# # Images
# images/
# assets/images/

# Sessions
application/cache/sessions/
application/cache/sessions/*
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
assets/blueimp/REST_API.json