.tooltip_custom {
    position: relative;
    display: inline-block;
}

.tooltip_custom .tooltiptext_custom {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip_custom .tooltiptext_custom::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip_custom:hover .tooltiptext_custom {
    visibility: visible;
    opacity: 1;
}
.custom_bt_xs{
    padding: 0.5px 7px !important;
    text-transform: unset !important;
}
.table_margin_top_0{
    margin-top: 0px !important;
}
.link_color{
    color: blue;
    text-decoration: underline;
}
.dropdown_custom{
    transform: translate(-189px, 32px) !important;
    min-width: 16rem !important;
}