@import url('https://fonts.googleapis.com/css?family=Outfit:400,400i,500,500i,700,700i&amp;display=swap');

*{
  font-family: Outfit, sans-serif;
}


body {
  font-family: Outfit, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #f8f9fd;
  color: gray;
}
.auth-title{
  font-weight: 600;
  color: rgb(54,64,94);
  color: linear-gradient(90deg, rgba(54,64,94,1) 0%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%, rgba(35,45,50,1) 100%);
}
.ftco-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: whitesmoke;
  /* background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(54,64,94,1) 99%, rgba(8,25,131,1) 100%, rgba(0,212,255,1) 100%); */
  background: rgb(54,64,94);
  background: radial-gradient(circle, rgba(54,64,94,1) 0%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%, rgba(35,45,50,1) 100%);
}
.error-msg{
  display: none;
}
.auth-cart{
  padding-top: 15px;
}

.callout-danger{
  background: #fff2f1 !important;
  border-color: transparent;
  color: #ff503d !important;
  padding: 5px 12px;
  border-radius: 4px;
}
.callout-danger p{
  margin: 0px;
}

.required_star{
  color: #dd4b39 !important;
}
.login-wrap {
  position: relative;
  background: #fff;
  font-weight: 300;
  padding: 20px 30px;
  border-radius: 10px;
}
.onetime_payment{
  max-width: 500px;
}
.form-wrapper{
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
}
.form-wrapper-2{
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
}
.p-md-5 {
  padding: 3rem !important;
}

.form-group {
  position: relative;
}

.form-group .label {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
}
.py-10{
  padding-top: 10px;
  padding-bottom: 10px;
}
label {
  display: inline-block;
  margin-bottom: 0px;
}
.form-control {
  height: 39px;
  background: #fff;
  color: #000;
  font-size: 13px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
button, input {
  overflow: visible;
}
input:focus::placeholder {
  transition: all 0.3s;
  padding-left: 10px;
}
input::placeholder {
  transition: all 0.3s;
  font-size: 13px;
}

.btn-2{
  height: 48px;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 4px;
  right: 6px;
  font-size: 12px;
}

.alert-danger {
  color: #f51111 !important;
  background-color: rgb(243 48 48 / 10%) !important;
  border-color: transparent;
}

.alert-success .btn-close {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235ABF35 '%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/0.75rem auto no-repeat;
  color: #5ABF35 !important;
}

.alert-success {
  background: #f0fbea !important;
  border-color: transparent;
  color: #0f5132;
}
.alert-danger .btn-close {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff503d'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/0.75rem auto no-repeat;
  color: #ff503d !important;
}

.alert-success .alert-heading, .alert-success .alert-body {
  color: #5ABF35 !important;
}
.forgot-pass-wrap{
  margin-bottom: 5px;

}
.forgot-pass{
  font-weight: 500;
  color: #307ef3;
  text-decoration: underline;
}


.select2-search--dropdown .select2-search__field {
	padding: 4px;
	width: 100%;
	box-sizing: border-box;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 1px solid #aaa;
}

[type="search"] {
	outline: none !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border-color: #36405e;
	border-radius: 5px;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #D9F2FF;
	color: #143157 !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #EEF9FF;
	color: #143157 !important;
}

.select2-container--default .select2-results > .select2-results__options li {
	font-size: 14px;
	color: #5e5873;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 42px;
	font-size: 13px;
	font-weight: 400;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
	height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #888 transparent transparent transparent;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	height: 0;
	left: 50%;
	margin-left: -4px;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	width: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 26px;
	position: absolute;
	top: 10px;
	right: 1px;
	width: 20px;
}



.login-button {
  color: white;
  text-decoration: none;
  padding: 8.5px 21px !important;
  border-radius: 0.358rem !important;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  /* background-color: #36405e; */
  /* width: 100%; */
  /* background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(54, 64, 94, 1) 99%, rgba(8, 25, 131, 1) 100%, rgba(0, 212, 255, 1) 100%); */
  background: rgb(54,64,94);
background: radial-gradient(circle, rgba(54,64,94,1) 0%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%, rgba(35,45,50,1) 100%);
}
.login-button:hover {
  box-shadow: 0 8px 25px -8px #36405e !important;
  color: white;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #e5e5e5 !important;
}
.pay_button{
  margin-top: 35px;
}




/* The container */
.checkmark-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 21px;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
}

/* On mouse-over, add a grey background color */
.checkmark-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {
  background: radial-gradient(circle, rgba(54, 64, 94, 1) 0%, rgba(2, 0, 36, 1) 100%, rgba(0, 212, 255, 1) 100%, rgba(35, 45, 50, 1) 100%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #252949;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



/*  Tablet PC: 992px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  
}

/*  Tablet Mobile: 768px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  
}

/*  Mobile : 576px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  
}


/*  Mobile Small Device: 450px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 450px) and (max-width: 575.98px) {
  
}
/*  Mobile Small Device: 320px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 320px) and (max-width: 449.98px) {
  
}
.mt-7{
  margin-top: 7px;
}