.right-btn-box {
    margin-left: auto;
    margin-right: 15px;
    order: 3;
}
.bottom-left-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.exportDropdown a{
    min-height: 38px;
}
.main-content-wrapper .tabcontent{
    padding-bottom: 15px;
}
.tabcontent{
    padding-bottom: 150px !important;
}
.text-align-left{
    text-align: left !important;
}
.tablinks {
    text-decoration: none !important;
}
#waste_expenses_report_datatable tr td:last-child{
    display: flex;
}
#expenses_new_datatable tr td:last-child{
    display: flex;
}
.action_div{
    display: flex;
    justify-content: space-between !important;
}

.btn.sale_anchor {
    width: 40px;
    padding: 8.5px 5px !important;
    margin: 0px 4px;
}
.bg-blue-btn, .bg-red-btn {
    padding: 9.5px 21px !important;   
}

.btn.sale_anchor img {
    width: 20px;
}

body .cursor_pointer {
    pointer-events: auto !important; 
    cursor: pointer !important;
}

/*table setting*/

 .div_design{
        width: 99%;
        height: 500px;
        margin: 0px auto;
    }
    .edit-image img{
        width: 100%;
    }
    .div_rectangular {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .img_bg_1{
        background: url("table_design_1.png");
        background-repeat: no-repeat;
        width: 85px;
        height: 111px;
    }
    .img_bg_2{
        background: url("table_design_2.png");
        background-repeat: no-repeat;
        width: 85px;
        height: 111px;
    }
    .img_bg_3{
        background: url("table_design_3.png");
        background-repeat: no-repeat;
        width: 99px;
        height: 111px;
    }
    .img_bg_4{
        background: url("table_design_4.png");
        background-repeat: no-repeat;
        width: 120px;
        height: 111px;
    }
    .img_bg_6{
        background: url("table_design_6.png");
        background-repeat: no-repeat;
        width: 170px;
        height: 111px;
    }
    .img_bg_8{
        background: url("table_design_8.png");
        background-repeat: no-repeat;
        width: 216px;
        height: 111px;
    }
    .img_bg_10{
        background: url("table_design_10.png");
        background-repeat: no-repeat;
        width: 251px;
        height: 111px;
    }
    .img_bg_12{
        background: url("table_design_12.png");
        background-repeat: no-repeat;
        width: 299px;
        height: 111px;
    }
    .div_box{
        width: 165px  !important;
        height: unset;
        border: 0px solid  !important;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: unset !important;
        padding: 2px;
    }
  
    .cross_button{
        position: absolute;
    background: unset;
    color: #c50000;
    top: -4px;
    right: -4px;
    font-weight: bold;
    border: 0px;
    font-size: 14px;
    }
    .cross_button{
        display: block !important;
    }
    
    .right_button_size{
        font-size: 10px;
    }
    .div_box_ceter{
        text-align: center;
    }
    .default_box_style{
        top: 19.4px; 
        left: 651.375px; 
        font-size: 18px; 
        text-align: left; 
        right: auto; 
        z-index: 97;
    }
    .add_dj_box{
        width: 100%;
        margin-top: 6px;
    }
    .div_rectangular_active{
        border: 1px solid rgb(255, 0, 160); 
        background-color: rgb(0, 0, 0); 
        color: rgb(255, 255, 255);
        height: 40px;
        display: flex; 
        justify-content: center; 
        align-items: center;
    }
    .save_setting{
        width: 100%;
        margin-top: 6px;
    }
    .format-letter{
        overflow:hidden;
        height: 100%;
    }
    
    .default_box_style_default{
        top: 3px; 
        left: 10px; 
        font-size: 18px; 
        text-align: left; 
        right: auto; 
        z-index: 97;
    }
    .form-group label {
        color: #5e5873;
        font-size: 0.78rem;
        margin-bottom: 4px;
        margin-top: 11px;
    }
    .bg_change_btn {
        font-size: 12px;
        padding: 3.5px 13px !important;
        display: unset;;
    }
    .reset_change_btn {
        font-size: 12px;
        padding: 3.5px 13px !important;
        display: unset;;
    }
    .color_btn{
        text-align: center;
    }

    .btn_common_not_full_with {
        font-size: 12px;
        padding: 3.5px 13px !important;
        display: unset;;
    }
    .btn_block_design{
        display: block !important;
    }
    .modal-body-custom {
        padding: 0rem !important;
    }
    .drawr-container{
        margin:0px !important;
        margin-left: 27px !important;
    }
    .drawr-toolbox{
        left: 395px !important;
        top: 43px !important;
    }
    .drawr-toolbox-settings{
        left:116px !important;
        top: 43px !important;
    }
    .sfx-canvas{
        left: 28.5px !important;
    }
    .sfx-canvas:hover{
       box-shadow: unset !important;;
    }
    .wPaint-menu-icon-name-text, .wPaint-menu-icon-name-loadBg, .wPaint-menu-icon-name-save, .wPaint-menu-icon-name-bucket, .wPaint-menu-handle{
        display: none !important;
    }
    .wPaint_div{
        position:relative; width:300px; height:250px;border: 2px dotted #8080804f; margin:70px auto 20px auto;
    }
    .wPaint-menu{
        width: 398px !important;
    }

        .table_bg_1 {
            position: relative;
        }
      
      .table_bg_1:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("table_bg_1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
   .table_bg_2 {
        position: relative;
    }
  
  .table_bg_2:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("table_bg_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .col-md-10-custom {
    flex: 0 0 auto;
    width: 68.333333% !important;
}